/* styles.css */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refresh-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.refresh-icon.rotating {
  animation: rotate 1s linear infinite;
}
